*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/stars-hollow.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.header1{
    width: 100%;
    min-height: 50px;
}
footer{
    background-color: #3A6D8C;
    color: white;
    text-align: center;
    padding: 1.0em;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: salmon;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.visit{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit:hover{
    border: 1px solid salmon;
    background: salmon;
    transition: 0.5s;
}


.history{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 15px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.history-col{
    flex-basis: 45%;
    background: #dfe6ee;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.3s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.history-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}


.locations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
}
.locations-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    box-sizing: border-box;
    transition: 0.3s;
}
.locations-col img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.locations-col:hover{
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.2)
}

.search{
    --padding: 14px;
    margin: 5em auto;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 20px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    position: relative;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}
.search-input::placeholder,
.search-icon{
    color: rgba(0,0,0,0.25);
}

.heading{
    text-align: center;
    font-size: 30px;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.05);
}
.heading span{
    color: rgba(250, 128, 114, 0.836);
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .img-container{
    flex: 1 1 15px;
    position: relative;
}
.about .row .img-container img{
    border-radius: .5rem;
    box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2);
    width: 300px;
    height:300px;
    object-fit: cover;
}
.about .row .content{
    flex:1 1 40rem;
}
.about .row .content h3{
    font-size: 1.5rem;
    color: #333;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.about .row .content p{
    font-size: 1rem;
    color: #777;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

article{
    background-color: transparent;
    padding: 1em;
    margin: 50px;
    text-align: justify;
    height: 250px;
}

.img{
    border-radius: 10px;
}
.img:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}

.row1{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.article1{
    background-color: rgb(235, 238, 238);
    padding: 1em;
    margin: 15px;
    text-align: justify;
    height: 380px;
    
}
.article1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.h1news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 10px;
}

.article2{
    background-color: transparent;
    padding: 1em;
    margin: 15px;
    text-align: justify;
    height: 380px;
    
}

.contact-info{
    justify-content: center;
    display: flex;
    align-items: center;
}